// Variables
@import "variables";

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
  appearance: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

body {
  font: {
    size: 16px;
    style: normal;
    family: 'Exo 2', sans-serif;
    weight: 300;
  }

  line-height: 22px;
  color: $black;
  background-color: $bg;
  padding-bottom: 46px;
}

.icons8 {
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  background-color: $white;
  color: $black;
  margin-top: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  box-shadow: 0 0 12px $gray-light;
  z-index: 1;

  a {
    color: $green;

    &:hover {
      @include media($lg) {
        color: $gray-light;
      }
    }
  }
}

a {
  @include css_anim;

  text-decoration: none;
  color: $blue;

  &:hover {
    @include media($lg) {
      color: $gray-light;
    }
  }

  &.is-active {
    color: $green;
  }
}

.drag-target {
  cursor: grab;
}

section {
  width: 100%;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;

  &:first-child {
    padding-top: 32px;
  }

  &:last-child {
    padding-bottom: 32px;
  }

  @include media($md) {
    padding-top: 32px;
    padding-bottom: 32px;

    &:first-child {
      padding-top: 48px;
    }
    &:last-child {
      padding-bottom: 48px;
    }
  }

  h2 {
    margin-top: 0;
  }
}

ul {
  &:not(.multiselect__content) {
    padding: 0;
    list-style: none;

    li {
      &:before {
        content: '\2014';
        margin: 0 8px 0 12px;
      }
    }
  }
}

.hidden {
  display: none !important;
}

h1 {
  font: {
    size: 28px;
  };

  margin: 0;
  padding: 8px 0;
  display: inline-block;
}

h2 {
  font: {
    size: 24px;
  };

  margin: 0;
  padding: 8px 0;
  display: inline-block;
}

.schema {
  display: none !important;
}

input,
textarea {
  user-select: initial;
}
